In [1]:
import numpy as np
import matplotlib.pyplot as plt

# You may change the mhealth_activity module but your algorithm must support the original version
from mhealth_activity import Recording, Trace, Activity, WatchLocation, Path

# For interactive plots, uncomment the following line
# %matplotlib widget

In [2]:
import os
import pandas as pd

files = os.listdir('data/train')
list_of_dfs = []

for file in files:
    d = Recording(os.path.join('data/train',file))
    list_of_dfs.append(d)

data = pd.DataFrame(list_of_dfs)

In [3]:
data.columns = ["recording"]

In [5]:
christophs_fussy_mess = []
for sample in data["recording"]:
    christophs_fussy_mess.extend([[sample.labels["path_idx"],sample.labels["activities"],
                                   sample.data["longitude"],sample.data["latitude"],
                                   sample.data["speed"],sample.data["altitude"]]])

In [7]:
christophs_fussy_mess = pd.DataFrame(christophs_fussy_mess)

In [8]:
christophs_fussy_mess

,0,1,2,3,4,5
0,2,[1],"Trace(title='longitude', total_time=584.87, sa...","Trace(title='latitude', total_time=584.87, sam...","Trace(title='speed', total_time=584.87, sample...","Trace(title='altitude', total_time=584.87, sam..."
1,0,"[1, 2]","Trace(title='longitude', total_time=519.01, sa...","Trace(title='latitude', total_time=519.01, sam...","Trace(title='speed', total_time=519.01, sample...","Trace(title='altitude', total_time=519.01, sam..."
2,0,"[0, 1, 2]","Trace(title='longitude', total_time=594.12, sa...","Trace(title='latitude', total_time=594.12, sam...","Trace(title='speed', total_time=594.12, sample...","Trace(title='altitude', total_time=594.12, sam..."
3,2,[1],"Trace(title='longitude', total_time=519.63, sa...","Trace(title='latitude', total_time=519.63, sam...","Trace(title='speed', total_time=519.63, sample...","Trace(title='altitude', total_time=519.63, sam..."
4,1,[1],"Trace(title='longitude', total_time=625.44, sa...","Trace(title='latitude', total_time=625.44, sam...","Trace(title='speed', total_time=625.44, sample...","Trace(title='altitude', total_time=625.44, sam..."
...,...,...,...,...,...,...
391,3,"[0, 1, 2]","Trace(title='longitude', total_time=325.70, sa...","Trace(title='latitude', total_time=325.70, sam...","Trace(title='speed', total_time=325.70, sample...","Trace(title='altitude', total_time=325.70, sam..."
392,4,[1],"Trace(title='longitude', total_time=619.13, sa...","Trace(title='latitude', total_time=619.13, sam...","Trace(title='speed', total_time=619.13, sample...","Trace(title='altitude', total_time=619.13, sam..."
393,2,[1],"Trace(title='longitude', total_time=747.65, sa...","Trace(title='latitude', total_time=747.65, sam...","Trace(title='speed', total_time=747.65, sample...","Trace(title='altitude', total_time=747.65, sam..."
394,3,[1],"Trace(title='longitude', total_time=456.01, sa...","Trace(title='latitude', total_time=456.01, sam...","Trace(title='speed', total_time=456.01, sample...","Trace(title='altitude', total_time=456.01, sam..."
395,0,"[1, 0, 1]","Trace(title='longitude', total_time=637.56, sa...","Trace(title='latitude', total_time=637.56, sam...","Trace(title='speed', total_time=637.56, sample...","Trace(title='altitude', total_time=637.56, sam..."