#### Keep samples where the person only performs walking or running for the entire duration of the recording

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import os
import pandas as pd
# You may change the mhealth_activity module but your algorithm must support the original version
from mhealth_activity import Recording, Trace, Activity, WatchLocation, Path
from tqdm import tqdm
import pickle

In [2]:
create_data_pickle = True
if create_data_pickle:
    files = os.listdir('data/train')
    files.sort()
    print(files)
    list_of_dicts = []
    types_to_include = ['ax', 'ay', 'az','timestamp']

    for file in tqdm(files):
        Dict = {}
        d = Recording(os.path.join('data/train',file))

        Dict['labels'] = d.labels
        for data_type in types_to_include:
            if data_type in d.data.keys():
                Dict[data_type] = d.data[data_type]
        list_of_dicts.append(Dict)

    data = pd.DataFrame(list_of_dicts)
    data.to_pickle(path='data/stepcount_data.pkl.zst', compression={'method': 'zstd'})
else:
    data = pd.read_pickle('data/stepcount_data.pkl.zst')
    data = data.drop(columns=['mx', 'my', 'mz', 'speed', 'altitude',
       'phone_steps', 'temperature'])

['train_trace_000.pkl', 'train_trace_001.pkl', 'train_trace_002.pkl', 'train_trace_003.pkl', 'train_trace_004.pkl', 'train_trace_005.pkl', 'train_trace_006.pkl', 'train_trace_007.pkl', 'train_trace_008.pkl', 'train_trace_009.pkl', 'train_trace_010.pkl', 'train_trace_011.pkl', 'train_trace_012.pkl', 'train_trace_013.pkl', 'train_trace_014.pkl', 'train_trace_015.pkl', 'train_trace_016.pkl', 'train_trace_017.pkl', 'train_trace_018.pkl', 'train_trace_019.pkl', 'train_trace_020.pkl', 'train_trace_021.pkl', 'train_trace_022.pkl', 'train_trace_023.pkl', 'train_trace_024.pkl', 'train_trace_025.pkl', 'train_trace_026.pkl', 'train_trace_027.pkl', 'train_trace_028.pkl', 'train_trace_029.pkl', 'train_trace_030.pkl', 'train_trace_031.pkl', 'train_trace_032.pkl', 'train_trace_033.pkl', 'train_trace_034.pkl', 'train_trace_035.pkl', 'train_trace_036.pkl', 'train_trace_037.pkl', 'train_trace_038.pkl', 'train_trace_039.pkl', 'train_trace_040.pkl', 'train_trace_041.pkl', 'train_trace_042.pkl', 'train_trace_043.pkl', 'train_trace_044.pkl', 'train_trace_045.pkl', 'train_trace_046.pkl', 'train_trace_047.pkl', 'train_trace_048.pkl', 'train_trace_049.pkl', 'train_trace_050.pkl', 'train_trace_051.pkl', 'train_trace_052.pkl', 'train_trace_053.pkl', 'train_trace_054.pkl', 'train_trace_055.pkl', 'train_trace_056.pkl', 'train_trace_057.pkl', 'train_trace_058.pkl', 'train_trace_059.pkl', 'train_trace_060.pkl', 'train_trace_061.pkl', 'train_trace_062.pkl', 'train_trace_063.pkl', 'train_trace_064.pkl', 'train_trace_065.pkl', 'train_trace_066.pkl', 'train_trace_067.pkl', 'train_trace_068.pkl', 'train_trace_069.pkl', 'train_trace_070.pkl', 'train_trace_071.pkl', 'train_trace_072.pkl', 'train_trace_073.pkl', 'train_trace_074.pkl', 'train_trace_075.pkl', 'train_trace_076.pkl', 'train_trace_077.pkl', 'train_trace_078.pkl', 'train_trace_079.pkl', 'train_trace_080.pkl', 'train_trace_081.pkl', 'train_trace_082.pkl', 'train_trace_083.pkl', 'train_trace_084.pkl', 'train_trace_085.pkl', 'train_trace_086.pkl', 'train_trace_087.pkl', 'train_trace_088.pkl', 'train_trace_089.pkl', 'train_trace_090.pkl', 'train_trace_091.pkl', 'train_trace_092.pkl', 'train_trace_093.pkl', 'train_trace_094.pkl', 'train_trace_095.pkl', 'train_trace_096.pkl', 'train_trace_097.pkl', 'train_trace_098.pkl', 'train_trace_099.pkl', 'train_trace_100.pkl', 'train_trace_101.pkl', 'train_trace_102.pkl', 'train_trace_103.pkl', 'train_trace_104.pkl', 'train_trace_105.pkl', 'train_trace_106.pkl', 'train_trace_107.pkl', 'train_trace_108.pkl', 'train_trace_109.pkl', 'train_trace_110.pkl', 'train_trace_111.pkl', 'train_trace_112.pkl', 'train_trace_113.pkl', 'train_trace_114.pkl', 'train_trace_115.pkl', 'train_trace_116.pkl', 'train_trace_117.pkl', 'train_trace_118.pkl', 'train_trace_119.pkl', 'train_trace_120.pkl', 'train_trace_121.pkl', 'train_trace_122.pkl', 'train_trace_123.pkl', 'train_trace_124.pkl', 'train_trace_125.pkl', 'train_trace_126.pkl', 'train_trace_127.pkl', 'train_trace_128.pkl', 'train_trace_129.pkl', 'train_trace_130.pkl', 'train_trace_131.pkl', 'train_trace_132.pkl', 'train_trace_133.pkl', 'train_trace_134.pkl', 'train_trace_135.pkl', 'train_trace_136.pkl', 'train_trace_137.pkl', 'train_trace_138.pkl', 'train_trace_139.pkl', 'train_trace_140.pkl', 'train_trace_141.pkl', 'train_trace_142.pkl', 'train_trace_143.pkl', 'train_trace_144.pkl', 'train_trace_145.pkl', 'train_trace_146.pkl', 'train_trace_147.pkl', 'train_trace_148.pkl', 'train_trace_149.pkl', 'train_trace_150.pkl', 'train_trace_151.pkl', 'train_trace_152.pkl', 'train_trace_153.pkl', 'train_trace_154.pkl', 'train_trace_155.pkl', 'train_trace_156.pkl', 'train_trace_157.pkl', 'train_trace_158.pkl', 'train_trace_159.pkl', 'train_trace_160.pkl', 'train_trace_161.pkl', 'train_trace_162.pkl', 'train_trace_163.pkl', 'train_trace_164.pkl', 'train_trace_165.pkl', 'train_trace_166.pkl', 'train_trace_167.pkl', 'train_trace_168.pkl', 'train_trace_169.pkl', 'train_trace_170.pkl', 'train_trace_171.pkl', 'train_trace_172.pkl', 'train_trace_173.pkl', 'train_trace_174.pkl', 'train_trace_175.pkl', 'train_trace_176.pkl', 'train_trace_177.pkl', 'train_trace_178.pkl', 'train_trace_179.pkl', 'train_trace_180.pkl', 'train_trace_181.pkl', 'train_trace_182.pkl', 'train_trace_183.pkl', 'train_trace_184.pkl', 'train_trace_185.pkl', 'train_trace_186.pkl', 'train_trace_187.pkl', 'train_trace_188.pkl', 'train_trace_189.pkl', 'train_trace_190.pkl', 'train_trace_191.pkl', 'train_trace_192.pkl', 'train_trace_193.pkl', 'train_trace_194.pkl', 'train_trace_195.pkl', 'train_trace_196.pkl', 'train_trace_197.pkl', 'train_trace_198.pkl', 'train_trace_199.pkl', 'train_trace_200.pkl', 'train_trace_201.pkl', 'train_trace_202.pkl', 'train_trace_203.pkl', 'train_trace_204.pkl', 'train_trace_205.pkl', 'train_trace_206.pkl', 'train_trace_207.pkl', 'train_trace_208.pkl', 'train_trace_209.pkl', 'train_trace_210.pkl', 'train_trace_211.pkl', 'train_trace_212.pkl', 'train_trace_213.pkl', 'train_trace_214.pkl', 'train_trace_215.pkl', 'train_trace_216.pkl', 'train_trace_217.pkl', 'train_trace_218.pkl', 'train_trace_219.pkl', 'train_trace_220.pkl', 'train_trace_221.pkl', 'train_trace_222.pkl', 'train_trace_223.pkl', 'train_trace_224.pkl', 'train_trace_225.pkl', 'train_trace_226.pkl', 'train_trace_227.pkl', 'train_trace_228.pkl', 'train_trace_229.pkl', 'train_trace_230.pkl', 'train_trace_231.pkl', 'train_trace_232.pkl', 'train_trace_233.pkl', 'train_trace_234.pkl', 'train_trace_235.pkl', 'train_trace_236.pkl', 'train_trace_237.pkl', 'train_trace_238.pkl', 'train_trace_239.pkl', 'train_trace_240.pkl', 'train_trace_241.pkl', 'train_trace_242.pkl', 'train_trace_243.pkl', 'train_trace_244.pkl', 'train_trace_245.pkl', 'train_trace_246.pkl', 'train_trace_247.pkl', 'train_trace_248.pkl', 'train_trace_249.pkl', 'train_trace_250.pkl', 'train_trace_251.pkl', 'train_trace_252.pkl', 'train_trace_253.pkl', 'train_trace_254.pkl', 'train_trace_255.pkl', 'train_trace_256.pkl', 'train_trace_257.pkl', 'train_trace_258.pkl', 'train_trace_259.pkl', 'train_trace_260.pkl', 'train_trace_261.pkl', 'train_trace_262.pkl', 'train_trace_263.pkl', 'train_trace_264.pkl', 'train_trace_265.pkl', 'train_trace_266.pkl', 'train_trace_267.pkl', 'train_trace_268.pkl', 'train_trace_269.pkl', 'train_trace_270.pkl', 'train_trace_271.pkl', 'train_trace_272.pkl', 'train_trace_273.pkl', 'train_trace_274.pkl', 'train_trace_275.pkl', 'train_trace_276.pkl', 'train_trace_277.pkl', 'train_trace_278.pkl', 'train_trace_279.pkl', 'train_trace_280.pkl', 'train_trace_281.pkl', 'train_trace_282.pkl', 'train_trace_283.pkl', 'train_trace_284.pkl', 'train_trace_285.pkl', 'train_trace_286.pkl', 'train_trace_287.pkl', 'train_trace_288.pkl', 'train_trace_289.pkl', 'train_trace_290.pkl', 'train_trace_291.pkl', 'train_trace_292.pkl', 'train_trace_293.pkl', 'train_trace_294.pkl', 'train_trace_295.pkl', 'train_trace_296.pkl', 'train_trace_297.pkl', 'train_trace_298.pkl', 'train_trace_299.pkl', 'train_trace_300.pkl', 'train_trace_301.pkl', 'train_trace_302.pkl', 'train_trace_303.pkl', 'train_trace_304.pkl', 'train_trace_305.pkl', 'train_trace_306.pkl', 'train_trace_307.pkl', 'train_trace_308.pkl', 'train_trace_309.pkl', 'train_trace_310.pkl', 'train_trace_311.pkl', 'train_trace_312.pkl', 'train_trace_313.pkl', 'train_trace_314.pkl', 'train_trace_315.pkl', 'train_trace_316.pkl', 'train_trace_317.pkl', 'train_trace_318.pkl', 'train_trace_319.pkl', 'train_trace_320.pkl', 'train_trace_321.pkl', 'train_trace_322.pkl', 'train_trace_323.pkl', 'train_trace_324.pkl', 'train_trace_325.pkl', 'train_trace_326.pkl', 'train_trace_327.pkl', 'train_trace_328.pkl', 'train_trace_329.pkl', 'train_trace_330.pkl', 'train_trace_331.pkl', 'train_trace_332.pkl', 'train_trace_333.pkl', 'train_trace_334.pkl', 'train_trace_335.pkl', 'train_trace_336.pkl', 'train_trace_337.pkl', 'train_trace_338.pkl', 'train_trace_339.pkl', 'train_trace_340.pkl', 'train_trace_341.pkl', 'train_trace_342.pkl', 'train_trace_343.pkl', 'train_trace_344.pkl', 'train_trace_345.pkl', 'train_trace_346.pkl', 'train_trace_347.pkl', 'train_trace_348.pkl', 'train_trace_349.pkl', 'train_trace_350.pkl', 'train_trace_351.pkl', 'train_trace_352.pkl', 'train_trace_353.pkl', 'train_trace_354.pkl', 'train_trace_355.pkl', 'train_trace_356.pkl', 'train_trace_357.pkl', 'train_trace_358.pkl', 'train_trace_359.pkl', 'train_trace_360.pkl', 'train_trace_361.pkl', 'train_trace_362.pkl', 'train_trace_363.pkl', 'train_trace_364.pkl', 'train_trace_365.pkl', 'train_trace_366.pkl', 'train_trace_367.pkl', 'train_trace_368.pkl', 'train_trace_369.pkl', 'train_trace_370.pkl', 'train_trace_371.pkl', 'train_trace_372.pkl', 'train_trace_373.pkl', 'train_trace_374.pkl', 'train_trace_375.pkl', 'train_trace_376.pkl', 'train_trace_377.pkl', 'train_trace_378.pkl', 'train_trace_379.pkl', 'train_trace_380.pkl', 'train_trace_381.pkl', 'train_trace_382.pkl', 'train_trace_383.pkl', 'train_trace_384.pkl', 'train_trace_385.pkl', 'train_trace_386.pkl', 'train_trace_387.pkl', 'train_trace_388.pkl', 'train_trace_389.pkl', 'train_trace_390.pkl', 'train_trace_391.pkl', 'train_trace_392.pkl', 'train_trace_393.pkl', 'train_trace_394.pkl', 'train_trace_395.pkl']

100%|██████████| 396/396 [02:55<00:00,  2.25it/s]

In [304]:
# Check where the list length in labels["activities"] is 1
walking = []
running = []
walking_activities = []
running_activities = []
for i in range(len(data)):
    #if len(data.iloc[i]["labels"]["activities"])==1:
    if (data.iloc[i]["labels"]["activities"] == [1]) or (data.iloc[i]["labels"]["activities"] == 
    [1,3]) or (data.iloc[i]["labels"]["activities"] == [0,1]) or (data.iloc[i]["labels"]["activities"] == [0,1,3]):
        walking.append(data.iloc[i])
        walking_activities.append(data.iloc[i]["labels"]["watch_loc"])
    elif (data.iloc[i]["labels"]["activities"] == [2]) or (data.iloc[i]["labels"]["activities"] == 
    [0,2]) or (data.iloc[i]["labels"]["activities"] == [2,3]) or (data.iloc[i]["labels"]["activities"] == [0,2,3]):
        running.append(data.iloc[i])
        running_activities.append(data.iloc[i]["labels"]["watch_loc"])
walking = pd.DataFrame(walking)
running = pd.DataFrame(running)
walking

,labels,ax,ay,az,timestamp
0,"{'path_idx': 2, 'activities': [1], 'step_count...","Trace(title='ax', total_time=584.87, samplerat...","Trace(title='ay', total_time=584.87, samplerat...","Trace(title='az', total_time=584.87, samplerat...","Trace(title='timestamp', total_time=584.87, sa..."
3,"{'path_idx': 2, 'activities': [1], 'step_count...","Trace(title='ax', total_time=519.63, samplerat...","Trace(title='ay', total_time=519.63, samplerat...","Trace(title='az', total_time=519.63, samplerat...","Trace(title='timestamp', total_time=519.63, sa..."
4,"{'path_idx': 1, 'activities': [1], 'step_count...","Trace(title='ax', total_time=625.44, samplerat...","Trace(title='ay', total_time=625.44, samplerat...","Trace(title='az', total_time=625.44, samplerat...","Trace(title='timestamp', total_time=625.44, sa..."
5,"{'path_idx': 1, 'activities': [1], 'step_count...","Trace(title='ax', total_time=499.81, samplerat...","Trace(title='ay', total_time=499.81, samplerat...","Trace(title='az', total_time=499.81, samplerat...","Trace(title='timestamp', total_time=499.81, sa..."
6,"{'path_idx': 3, 'activities': [1], 'step_count...","Trace(title='ax', total_time=473.97, samplerat...","Trace(title='ay', total_time=473.97, samplerat...","Trace(title='az', total_time=473.97, samplerat...","Trace(title='timestamp', total_time=473.97, sa..."
...,...,...,...,...,...
389,"{'path_idx': 2, 'activities': [1], 'step_count...","Trace(title='ax', total_time=733.14, samplerat...","Trace(title='ay', total_time=733.14, samplerat...","Trace(title='az', total_time=733.14, samplerat...","Trace(title='timestamp', total_time=733.14, sa..."
390,"{'path_idx': 4, 'activities': [1], 'step_count...","Trace(title='ax', total_time=657.62, samplerat...","Trace(title='ay', total_time=657.62, samplerat...","Trace(title='az', total_time=657.62, samplerat...","Trace(title='timestamp', total_time=657.62, sa..."
392,"{'path_idx': 4, 'activities': [1], 'step_count...","Trace(title='ax', total_time=619.13, samplerat...","Trace(title='ay', total_time=619.13, samplerat...","Trace(title='az', total_time=619.13, samplerat...","Trace(title='timestamp', total_time=619.13, sa..."
393,"{'path_idx': 2, 'activities': [1], 'step_count...","Trace(title='ax', total_time=747.65, samplerat...","Trace(title='ay', total_time=747.65, samplerat...","Trace(title='az', total_time=747.65, samplerat...","Trace(title='timestamp', total_time=747.65, sa..."
394,"{'path_idx': 3, 'activities': [1], 'step_count...","Trace(title='ax', total_time=456.01, samplerat...","Trace(title='ay', total_time=456.01, samplerat...","Trace(title='az', total_time=456.01, samplerat...","Trace(title='timestamp', total_time=456.01, sa..."

In [305]:
indices_walking = np.array(walking.index)
indices_running = np.array(running.index)
indices_walking

array([  0,   3,   4,   5,   6,   7,   8,   9,  10,  11,  13,  14,  15,
        16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  29,  31,  33,
        37,  38,  39,  40,  42,  43,  45,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  65,  66,
        68,  70,  71,  72,  74,  75,  76,  77,  78,  79,  83,  84,  85,
        86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,  98,  99,
       103, 104, 105, 106, 107, 108, 109, 112, 113, 115, 116, 117, 118,
       120, 121, 122, 123, 125, 126, 127, 128, 129, 130, 131, 133, 134,
       135, 137, 138, 141, 142, 143, 145, 146, 147, 148, 151, 152, 153,
       156, 160, 163, 165, 166, 168, 169, 170, 172, 173, 174, 175, 176,
       177, 178, 180, 181, 182, 185, 186, 188, 190, 191, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 205, 206, 208, 209, 210, 213,
       215, 216, 217, 218, 220, 222, 223, 225, 226, 227, 228, 229, 230,
       231, 233, 234, 235, 236, 237, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 260,
       261, 263, 264, 266, 267, 269, 270, 271, 272, 273, 274, 275, 278,
       279, 280, 281, 282, 283, 284, 285, 289, 290, 291, 292, 294, 295,
       299, 300, 301, 302, 303, 304, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 316, 317, 318, 319, 322, 324, 325, 326, 327, 328, 331,
       332, 333, 334, 335, 336, 337, 338, 340, 341, 342, 343, 344, 345,
       346, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 359, 360,
       362, 363, 365, 366, 368, 369, 371, 373, 374, 375, 377, 378, 380,
       381, 384, 386, 387, 388, 389, 390, 392, 393, 394], dtype=int64)

#### Butterworth Filter - Here only done for walking but can also be done for running

In [306]:
from scipy.signal import butter, lfilter, freqz

def butter_lowpass(cutoff, fs, order=5):
    return butter(order, cutoff, fs=fs, btype='low', analog=False)

def butter_lowpass_filter(data, cutoff, fs, order=5):
    b, a = butter_lowpass(cutoff, fs, order=order)
    y = lfilter(b, a, data)
    return y

In [307]:
### Unpacking all the relevant signals
ax_walking = [x.values for x in walking["ax"]]
ay_walking = [x.values for x in walking["ay"]]
az_walking = [x.values for x in walking["az"]]
timestamps_walking = [x.values for x in walking["timestamp"]]

ax_running = [x.values for x in running["ax"]]
ay_running = [x.values for x in running["ay"]]
az_running = [x.values for x in running["az"]]
timestamps_running = [x.values for x in running["timestamp"]]

In [308]:
samplerates_dataframe_x = []
for sample in walking["ax"]:
    samplerates_dataframe_x.append(sample.samplerate)

samplerates_dataframe_y = []
for sample in walking["ay"]:
    samplerates_dataframe_y.append(sample.samplerate)

samplerates_dataframe_z = []
for sample in walking["az"]:
    samplerates_dataframe_z.append(sample.samplerate)

In [309]:
ax_filtered = []
for i in range(len(ax_walking)):
    signal = ax_walking[i]
    samplerate = samplerates_dataframe_x[i]
    signal = butter_lowpass_filter(signal, cutoff = samplerate/3, fs = samplerate, order = 5)
    ax_filtered.append(signal)

ay_filtered = []
for i in range(len(ay_walking)):
    signal = ay_walking[i]
    samplerate = samplerates_dataframe_y[i]
    signal = butter_lowpass_filter(signal, cutoff = samplerate/3, fs = samplerate, order = 5)
    ay_filtered.append(signal)

az_filtered = []
for i in range(len(az_walking)):
    signal = az_walking[i]
    samplerate = samplerates_dataframe_z[i]
    signal = butter_lowpass_filter(signal, cutoff = samplerate/3, fs = samplerate, order = 5)
    az_filtered.append(signal)

#### Magnitude

In [310]:
magnitude = np.sqrt(pd.DataFrame(ax_filtered)**2+pd.DataFrame(ay_filtered)**2+pd.DataFrame(az_filtered)**2)

#### Find peaks

The threshold parameter is dependent on the smartwatch location, this has to be fine-tuned

In [312]:
walking_activities

[1,
 1,
 1,
 2,
 1,
 1,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 2,
 2,
 0,
 2,
 0,
 2,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 2,
 0,
 2,
 0,
 2,
 1,
 1,
 2,
 2,
 1,
 1,
 2,
 0,
 0,
 1,
 0,
 2,
 0,
 2,
 2,
 2,
 0,
 0,
 1,
 2,
 1,
 0,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 0,
 2,
 0,
 2,
 2,
 0,
 1,
 2,
 2,
 0,
 1,
 0,
 2,
 0,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 2,
 2,
 1,
 2,
 1,
 2,
 2,
 2,
 2,
 1,
 0,
 2,
 1,
 0,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 1,
 0,
 1,
 2,
 0,
 1,
 1,
 1,
 1,
 2,
 1,
 0,
 0,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 0,
 0,
 1,
 0,
 2,
 0,
 0,
 2,
 2,
 1,
 2,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 2,
 2,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 2,
 1,
 0,
 2,
 2,
 1,
 2,
 0,
 2,
 1,
 1,
 2,
 0,
 0,
 2,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 2,
 1,
 1,
 2,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 2,
 1,
 0,
 2,
 1,
 2,
 0,
 2,
 0,
 2,
 2,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 2,
 1,
 0,
 0,
 0,
 2,
 0,
 1,
 2,
 1,
 0,
 1,
 1,
 2,
 0,
 2,
 0,
 1,
 1,
 0,
 0,
 2,
 0,
 1,
 0,
 2,
 2,
 1,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 1,
 0,
 1,
 2,
 1,
 2,
 2,
 1,
 2,
 2,
 0,
 0,
 2,
 1,
 1,
 2,
 0,
 1,
 2,
 2,
 0,
 0,
 2,
 0,
 1,
 0]

In [311]:
from scipy.signal import find_peaks

peaks = []
for i in range(len(magnitude)):
    peaks.append(find_peaks(magnitude.iloc[i,:], threshold = 0.0865))

In [313]:
peaks_and_indices = pd.concat([pd.DataFrame(indices_walking),pd.DataFrame(peaks),pd.DataFrame(walking_activities)],axis=1)
peaks_and_indices = peaks_and_indices.drop(1,axis=1)

In [314]:
peaks_and_indices

       0                                                  0  0
0      0  [2, 767, 1401, 1407, 1604, 1609, 1612, 1715, 2...  1
1      3  [2, 1002, 1299, 1943, 1982, 2600, 2604, 2844, ...  1
2      4      [2, 45079, 45084, 45086, 45088, 45092, 45095]  1
3      5  [2, 775, 781, 791, 874, 882, 1029, 1117, 1124,...  2
4      6  [2, 1127, 1992, 1996, 2621, 3018, 3218, 3425, ...  1
..   ...                                                ... ..
291  389  [2, 659, 788, 1105, 1538, 1542, 2606, 2868, 55...  0
292  390  [2, 438, 444, 520, 636, 643, 648, 719, 725, 72...  2
293  392                                        [2, 103044]  0
294  393  [2, 1185, 1361, 1419, 1759, 1762, 1842, 1846, ...  1
295  394                           [2, 40587, 42958, 90915]  0

[296 rows x 3 columns]

In [315]:
peaks_and_indices = peaks_and_indices.set_axis(["Indices","Peaks","Smartwatch Location"],axis=1)
peaks_and_indices = peaks_and_indices.set_index("Indices")
peaks_and_indices.index.name = None

In [316]:
peaks_and_indices

                                                 Peaks  Smartwatch Location
0    [2, 767, 1401, 1407, 1604, 1609, 1612, 1715, 2...                    1
3    [2, 1002, 1299, 1943, 1982, 2600, 2604, 2844, ...                    1
4        [2, 45079, 45084, 45086, 45088, 45092, 45095]                    1
5    [2, 775, 781, 791, 874, 882, 1029, 1117, 1124,...                    2
6    [2, 1127, 1992, 1996, 2621, 3018, 3218, 3425, ...                    1
..                                                 ...                  ...
389  [2, 659, 788, 1105, 1538, 1542, 2606, 2868, 55...                    0
390  [2, 438, 444, 520, 636, 643, 648, 719, 725, 72...                    2
392                                        [2, 103044]                    0
393  [2, 1185, 1361, 1419, 1759, 1762, 1842, 1846, ...                    1
394                           [2, 40587, 42958, 90915]                    0

[296 rows x 2 columns]

In [320]:
len(peaks_and_indices["Peaks"].loc[0])

289

In [326]:
steps = []
for sample in peaks_and_indices["Peaks"]:
    steps.append(len(sample))

In [327]:
steps

[289,
 87,
 7,
 4159,
 253,
 104,
 4014,
 57,
 2679,
 4207,
 2804,
 740,
 944,
 1,
 2186,
 16,
 6,
 53,
 546,
 116,
 6,
 3303,
 1111,
 145,
 4212,
 150,
 2409,
 177,
 419,
 68,
 2,
 22,
 262,
 1068,
 117,
 82,
 2,
 30,
 54,
 176,
 61,
 86,
 7565,
 19,
 7823,
 543,
 6399,
 610,
 264,
 3182,
 3315,
 1420,
 3229,
 1674,
 26,
 171,
 16,
 1,
 2410,
 1,
 2149,
 4502,
 1881,
 480,
 5,
 526,
 3173,
 439,
 90,
 636,
 2233,
 2816,
 3154,
 2449,
 3189,
 206,
 21,
 3489,
 158,
 1362,
 5799,
 10,
 2,
 5336,
 2960,
 3,
 755,
 1,
 2751,
 17,
 3,
 2999,
 3824,
 4052,
 5,
 1,
 6445,
 1878,
 5,
 3164,
 1401,
 219,
 1931,
 892,
 3453,
 2803,
 3303,
 3772,
 233,
 16,
 3036,
 6,
 1582,
 72,
 2861,
 3957,
 2533,
 1,
 3,
 2941,
 1,
 458,
 32,
 2957,
 32,
 1,
 407,
 1070,
 113,
 3094,
 183,
 1362,
 9,
 3022,
 603,
 9,
 9,
 15,
 607,
 12,
 13,
 2197,
 50,
 1009,
 74,
 134,
 9,
 2,
 492,
 3014,
 12,
 6,
 4181,
 4347,
 18,
 2847,
 6,
 182,
 66,
 22,
 372,
 3266,
 63,
 4,
 473,
 95,
 1296,
 4184,
 2506,
 481,
 36,
 158,
 20,
 1071,
 1,
 1046,
 488,
 1620,
 78,
 12,
 1684,
 5014,
 217,
 2613,
 201,
 45,
 294,
 1,
 2144,
 1,
 5,
 2961,
 921,
 1,
 276,
 435,
 42,
 43,
 338,
 875,
 3,
 3944,
 720,
 413,
 6620,
 7,
 1852,
 24,
 6,
 2,
 39,
 11,
 2929,
 1064,
 27,
 3451,
 18,
 3237,
 2,
 1926,
 4,
 3084,
 1134,
 110,
 148,
 2,
 53,
 10,
 146,
 27,
 7,
 102,
 10,
 1451,
 1010,
 95,
 57,
 680,
 282,
 6013,
 5,
 30,
 2870,
 144,
 37,
 546,
 462,
 2766,
 1,
 5217,
 2,
 30,
 1463,
 11,
 83,
 1931,
 66,
 1248,
 2,
 3938,
 4928,
 478,
 3,
 453,
 2504,
 3,
 2695,
 91,
 3314,
 246,
 594,
 2,
 8,
 4441,
 168,
 3533,
 2333,
 314,
 1166,
 3703,
 7,
 5,
 2149,
 168,
 1,
 5754,
 445,
 674,
 2925,
 2060,
 1403,
 76,
 3707,
 2,
 938,
 4]

In [258]:
data["labels"][165]

{'path_idx': 4, 'activities': [1], 'step_count': 1023, 'watch_loc': 1}

In [321]:
step_count_present = []
for sample in data["labels"]:
    if sample["step_count"] != None:
        step_count_present.append([i,sample["step_count"],])
    i = i+1

### Now gotta try to visualize this somehow

In [322]:
### Find all the samples where the step count is given
step_count_present

[[309, 288],
 [310, 286],
 [312, 179],
 [313, 255],
 [314, 266],
 [325, 960],
 [341, 0],
 [369, 154],
 [377, 0],
 [442, 287],
 [460, 1023],
 [473, 251],
 [479, 0],
 [485, 172],
 [496, 290],
 [523, 147],
 [531, 281],
 [532, 1021],
 [537, 168],
 [540, 168],
 [547, 1018],
 [569, 268],
 [595, 245],
 [603, 286],
 [607, 277],
 [608, 286],
 [610, 0],
 [636, 273],
 [656, 0],
 [664, 298],
 [669, 832],
 [676, 293],
 [683, 155]]

In [ ]:
### Use Mean Squared Error to determine the error
from sklearn.metrics import mean_squared_error